

<%# Cabeçalho padrão para todas as páginas da aplicação %>

<!DOCTYPE html>
<html>
  <head>
    <title>Dunnas Chamados</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <header class="top-navbar">
        <div class="navbar-brand">
          DUNNAS CHAMADOS
        </div>

        <div class="navbar-user-zone">
          <span class="user-info">
            Logado como: <strong><%= current_user.email %></strong>
          </span>
          <%= button_to "Sair", destroy_user_session_path, method: :delete, form: { data: { turbo: false } }, class: "button--logout" %>
        </div>
      </header>
    <% end %>

    <main class="app-container">
      

      <%= yield %>
    </main>
  </body>
</html>